.configurator {

  padding-top: 15px;
  padding-bottom: 30px;

  // @media screen and (max-width: 670px) {
  //   padding-bottom: 35px;
  // }

  &__main-info {
    
  }
  //[class^='col-md']{
  //  padding: 0;
  //}

  &__radio-block {
    width: 540px;
    max-width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;

    margin-bottom: 50px;

    @media screen and (max-width: 670px) {
      margin-bottom: 15px;
    }
  }
  &__more-models-btn {
    position: absolute;
    top: 0;
    right: 75px;
    width: 68px;
    height: 46px;
    background: url(../images/more-models-btn.svg);
    cursor: pointer;

    @media screen and (max-width: 960px) {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }
  }
  &__more-info {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;    

    @media screen and (max-width: 670px) {
      padding-top: 35px;
    }
  }
  &__more-info-btn {
    font-size: 18px;
    display: inline-block;
    font-weight: 100;
    color: #0078be;
    text-decoration: none;
    position: relative;
    padding-right: 30px;

    @media screen and (max-width: 670px) {
      font-size: 16px;
      color: #0078be;
    }

    &:before {
      content: 'Все параметры';
    }

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 17px;
      height: 10px;
      margin: auto;
      content: '';
      pointer-events: none;
      background-image: url(../images/arrowDown-blue.svg);
      background-position: right center;
      background-repeat: no-repeat;
      transition:  all 0.4s;

      @media screen and (max-width: 670px) {
        background-image: url(../images/arrowDown-blue.svg);
      }
    }

    &--open {
      &:before {
        content: 'Свернуть';
      }
      &:after {
        /*background-image: url(../images/arrowUp.svg);*/
          transform: rotate(540deg);
      }
    }
  }
  &__reset-filter-btn {
    display: none;
    font-size: 18px;
    font-weight: 100;
    color: #0078be;
    text-decoration: none;
    position: relative;
    padding-right: 25px;

    @media screen and (max-width: 670px) {
      font-size: 16px;
    }

    &:after {
      position: absolute;
      top: 2px;
      right: 0;
      bottom: 0;
      width: 13px;
      height: 13px;
      margin: auto;
      content: '';
      pointer-events: none;
      background-image: url(../images/reset-filter-icon.svg);
      background-position: right center;
      background-repeat: no-repeat;
      transition:  all 0.4s;
    }

    &--open {
      display: inline-block;
      margin-left: 50px;
    }
  }
  &__row {

    > .col-4 {
      margin-bottom: 35px;

      @media screen and (max-width: 670px) {
        margin-bottom: 0;
      }
    }
  }
  &__other-info {
    display: none;
    /*padding-bottom: 30px;*/
  }
  &__price-info {

  }
  &__price-slider {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 730px;
    margin: auto;

    @media screen and (max-width: 1160px) {
      width: 90%;
      margin: auto;
    }

    @media screen and (max-width: 670px) {
      padding-top: 0;
      padding-bottom: 20px;
      width: 100%;
    }

    .ui-widget.ui-widget-content {
      border: 0;
      height: 3px;
      background-color: #1b1c20;

      @media screen and (max-width: 670px) {
        height: 1px;
      }
    }
    .ui-widget-header {
      background-color: #e60908;
    }
    .ui-state-default, .ui-widget-content .ui-state-default {      
      width: 28px;
      height: 28px;
      display: block;
      border: 3px solid #1b1c20;
      border-radius: 50%;
      box-sizing: border-box;
      background: url(../images/NavBtnCntr-active.svg) no-repeat center, #ffffff;
      background-size: 8px 8px;

      @media screen and (max-width: 670px) {
        border-width: 2px;
        width: 20px;
        height: 20px;
        background-size: 6px 6px;
      }
    }
    .ui-slider-horizontal .ui-slider-handle {
      top: -.7em;

      @media screen and (max-width: 670px) {
        top: -.55em;
      }
    }
  }
  &__price-slider-numbers {
    position: relative;

    span {
      position: absolute;
      top: -45px;
      left: -35px;
      white-space: nowrap;
      font-weight: 600;
      font-size: 23px;
      color: #000000 !important;

      @media screen and (max-width: 960px) {
        font-size: 16px;
        top: -35px;
      }

      @media screen and (max-width: 670px) {
        display: none;
      }
    }

    &--min {

      span {
        @media screen and (max-width: 960px) {
          left: -15px;
        }
      }
    }
  }
  &__send-form {
    padding-top: 50px;
    display: flex;
    justify-content: center;

    .btn {
      @media screen and (max-width: 670px) {
        min-height: 55px;
      }
    }
  }

  &__sorting {
    display: flex;
    flex-wrap: wrap;
    padding-top: 75px;

    @media screen and (max-width: 960px) {
      display: none;
    }
  }
  &__sorting-item {
    padding-right: 20px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 15px;
    color: #afb9be;
    text-transform: uppercase;
    cursor: pointer;

    background: url(../images/sort-icon.svg) no-repeat right center;
    background-size: 14px 13px;

    &--active {
      background: url(../images/sort-icon-active.svg) no-repeat right center;
      background-size: 14px 13px;
      color: #000000;
    }
  }

}

