.page-header {

	.link-cars {
		position: absolute;

		@media screen and (max-width: 670px) {
			display: block;
		    left: 20px;
		    top: 27px; 
		}
	}

	.logo {
		position: absolute;

		@media screen and (max-width: 670px) {
			display: block;
		}
	}
}