.article {
  &__head {
    text-align: left;
  }

  &__text {

    &.article__discont {
      p {
        @include fonts(500);
        font-size: 23px;
      }
    }

    p {
      @include fonts(100);
      font-size: 18px;
      margin-bottom: 40px;
      color: #1b1c20;
    }

    strong {
      font-size: inherit;
      font-weight: bold;
    }

    ul {
      padding-left: 20px;
    }

    li {
      font-size: 18px;
      margin: 5px;
    }

    h4 {
      @include fonts(bold);
      font-size: 23px;
      margin: 35px 0 20px;
    }
  }
}
