.article {
  &__head {
    text-align: left;
  }

  &__subhead{
    @include fonts(500);
    font-size: 33px;
    text-align: left;
  }

  &__text {
    &_image_container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &.article__discont {
      p {
        @include fonts(500);
        font-size: 23px;
      }
    }

    p {
      @include fonts(100);
      font-size: 18px;
      margin-bottom: 40px;
      color: #1b1c20;
    }

    strong {
      font-size: inherit;
      font-weight: bold;
    }

    ul {
      padding-left: 20px;
    }

    li {
      font-size: 18px;
      margin: 5px;
    }

    h4 {
      @include fonts(bold);
      font-size: 23px;
      margin: 35px 0 20px;
    }
  }
}
.article__rules{
  display: flex;
  flex-direction: row;
  align-items: center;
  @include media-breakpoint-down(xs){
    justify-content: center;
  }
}
