.service__head{
  @include fonts(300);
  font-size: 60px;
}
.service__intro_text{
  p{
    @include fonts(300);
    font-size: 23px;
    text-align: center;
    margin-bottom: 40px;
  }
}
.service__row{
  padding: 70px 0;
  &_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }
  &_images{
    align-self: center;
    flex-basis: 40%;
  }
  &_head{
    text-align: center;
    @include fonts(bold);
    font-size: 23px;
    margin-top: 22px;
    flex-basis: 30%;
  }
  &_text{
    text-align: center;
    @include fonts(300);
    font-size: 15px;
    color: #1b1c20;
    flex-basis: 30%;
  }
}