.service__head{
  @include fonts(300);
  font-size: $desktop_head;
  @include media-breakpoint-down(xs){
    font-size: $mobile_head;
  }
}
.service__intro_text{
  p{
    @include fonts(300);
    font-size: 23px;
    text-align: center;
    margin-bottom: 40px;
    @include media-breakpoint-down(xs){
      font-weight: 500;
    }
  }
}
.service__row{
  padding: 70px 0;
  &.small{
    padding:10px;
    .service__row_head{
      font-size: 15px;
    }
  }
  &_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    transition: opacity ease-in-out .5s;
    cursor: pointer;
    &:hover{
      opacity: .5;
    }
  }
  &_images{
    align-self: center;
    flex-basis: 40%;
    &[src$="svg"]{
      width: 125px;
      max-height: 125px;
    }
  }
  &_head{
    text-align: center;
    @include fonts(bold);
    font-size: 23px;
    margin-top: 22px;
    flex-basis: 30%;
    @include media-breakpoint-down(xs){
      font-size: 18px;
    }
  }
  &_text{
    text-align: center;
    @include fonts(300);
    font-size: 15px;
    color: #1b1c20;
    flex-basis: 30%;
  }
}