.car-equioment {
	margin-bottom: 80px;
	&__main {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	&__title {
		font-size: 33px;

		@media screen and (max-width: 960px) {
			font-size: 25px;
		}
	}

	@media screen and (max-width: 670px) {
		margin-bottom: 45px;

		.col-4 {
			ul {
				margin-bottom: 0;
			}

			&:last-child {
				ul {
					margin-bottom: 39px;
				}
				li:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}