.car-gallery {

	margin-bottom: 65px;

	&__mainphoto {
		margin-bottom: 25px;

		img {
			width: 100%;
		}
	}

	.owl-item.active.center {
		border: 2px solid red;
	}
}
.car-number {
	font-size: 16px;
    font-weight: 600;
    color: #bfc4c7;
    position: absolute;
    right: 25px;
    top: 0px;
}