.car-main {

	&__right {
		text-align: right;
	}

	&__number {
		font-size: 18px;
		color: #565655;
		padding-top: 5px;
	}
	&__price {
		font-weight: 400;
		font-size: 60px;
		margin-top: 20px;
		margin-bottom: 15px;
		margin-right: 25px;

		small {
			font-size: 33px;
			margin-left: -15px;
		}
	}
	&__price2 {
		font-weight: 600;
		font-size: 33px;
		margin-top: 20px;
		margin-bottom: 15px;
		color: #0073bb;

		small {
			font-size: 31px;
			font-weight: 400;
			margin-left: -5px;
		}
	}
	&__payment {
		font-weight: 600;
		font-size: 23px;

		small {
			font-size: 15px;
		}
	}
	&__row {
		margin-bottom: 35px;
		justify-content: space-between !important;

		h1 {
			margin-bottom: 0;
		}
	}
	&__row--main2 {
		align-items: flex-end;
		align-content: flex-end;
	}

	&__icons {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: flex-end;
	    margin-top: 20px;

	    @media screen and (max-width: 960px) {
	      top: 10px;
	    }

	    @media screen and (max-width: 670px) {
	      justify-content: center;
	      padding-bottom: 30px;
	      padding-top: 10px;
	    }
	  }
	&__icon {
    display: flex;
    margin-left: 20px;
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain; 

    @media screen and (max-width: 960px) {
      margin-left: 7px;
      margin-right: 7px;
      width: 31px;
      height: 31px;
    }
    &:hover {
      svg {
          stroke: #1b1c20;
        }
    }

     &--like {
      // background-image: url(../images/like-icon.svg);
      // background-size: 25px 25px;
      svg {
        width: 45px;
        height: 45px;
        stroke:#bcc2c7;
        stroke-miterlimit:10;
        stroke-width:2.13px;
        fill: none;

        @media screen and (max-width: 960px) {
          width: 31px;
          height: 31px;
        }
      }
      &--active {
        svg {
          stroke: #e7183e;
        }
      }
    }
    &--compare {
      //background-image: url(../images/compare-icon.svg);
      //background-size: 45px 45px;
      svg {
        width: 45px;
        height: 45px;
        stroke:#bcc2c7;

        @media screen and (max-width: 960px) {
          width: 31px;
          height: 31px;
        }
      }
      &--active {
        svg {
          stroke: #2089c5;
        }
      }
    }
    
  }
  &__use {
  	display: inline-block;
  	padding-left: 60px;
  	position: relative;

  	font-size: 33px;
  	font-weight: 400;
  	padding-bottom: 7px;

  	small {
  		font-size: 23px;
  	}
  	&:before  {
  		content: '';
  		background: url('../images/tahometr-icon.svg');
  		width: 48px;
  		height: 40px;
  		display: block;
  		position: absolute;
  		left: 0;
  		top: 0;
  	}
  }
}