.action {
	&__prev {
		margin-top: -15px;

		@media screen and (max-width: 670px) {
			margin-top: 5px;

			position: relative;
    	height: 0;
    	padding-bottom: 60%;
    	overflow: hidden;
		}

		img {
			width: 100%;
			max-width: 100%;

			@media screen and (max-width: 670px) {
				height: 100%;
				width: auto;
				position: absolute;
				top: 0;
				bottom: 0;				
				
				width: auto;
    		max-width: none;
    		left: 50%;
    		transform: translateX(-50%);
			}
		}
	}
	&__info {
		margin-top: 50px;		

		@media screen and (max-width: 670px) {
			margin-top: 20px;
		}
	}

	@media screen and (max-width: 670px) {
		.inner {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}