.article-slider {

  margin-top: -15px;

  @media screen and (max-width: 670px) {
    margin-top: 0px;
  }
  &__inner {
    @media screen and (max-width: 670px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .owl-dots {
      margin-top: -30px;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      z-index: 5;
      position: relative;

      @media screen and (max-width: 670px) {
        margin-top: 0;
        margin-bottom: 17px;
      }
    }
}
.article-slider.owl-carousel button.owl-dot {
  width: 16px;
    height: 16px;
    display: block;
    border: 2px solid #8d949b;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 7px;
    margin-right: 7px;

    @media screen and (max-width: 670px) {
      width: 8px;
      height: 8px;
      border: none;
      background: #bcc2c6;
      margin-left: 4px;
      margin-right: 4px;
    }
}
.article-slider.owl-carousel button.owl-dot.active {
  border-color: #1b1c20;
    background: url(#{$image_path}/NavBtnCntr-active.svg) no-repeat center;
    background-size: 6px 6px;

    @media screen and (max-width: 670px)  {
      background: #e71318;
    }
}
.article-slider .owl-nav {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @media screen and (max-width: 960px) {
    display: none;
  }
}

.article-slider.owl-carousel .owl-nav button.owl-prev,
.article-slider.owl-carousel .owl-nav button.owl-next {
  display: block;
  width: 17px;
  height: 31px;
  position: absolute;
}
.article-slider.owl-carousel .owl-nav button.owl-prev {
  margin-right: 20px;
  background: url(#{$image_path}/slider-arrow-prev.svg) no-repeat;
  background-size: contain;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}
.article-slider.owl-carousel .owl-nav button.owl-next {
  margin-left: 20px;
  background: url(#{$image_path}/slider-arrow-next.svg) no-repeat;
  background-size: contain;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}
//чуть допилено для акции!
.article-slider--action {

  .owl-dots {
    margin-top: 15px;
    @media screen and (max-width: 670px) {
      margin-top: 15px;
    }
  }
  .action__prev {
    margin-top: 0;
  }

  @media screen and (max-width: 670px) {
    &.owl-carousel .owl-item img {
      width: auto;
    }
  }
}
//чуть допилено для новости
.article-slider--new {
  .new__prev {
    padding-top: 0;
  }
}
.article-slider__inner--new + .inner {
  padding-top: 15px;

  @media screen and (max-width: 670px) {
    padding-top: 0;
  }
}