@font-face {
  font-family: 'ruble';
  src: url('../fonts/ruble/ruble.eot');
  src: local('☺'), url('../fonts/ruble/ruble.woff') format('woff'), url('../fonts/ruble/ruble.ttf') format('truetype'), url('../fonts/ruble/ruble.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
.ruble-icon	{
	font-family: 'ruble';
}