.btn-down {
  position: absolute;
  bottom: 30px;
  width: 31px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 50;

  &__btn {
    display: block;
    width: 31px;
    height: 17px;
    background: url(#{$image_path}/Arrow.png);

    &--accessories {
      @media screen and (min-width: 671px) and (max-width: 960px) {
        background: url(#{$image_path}/Arrow-white.png);
        background-size: contain;
      }
      @media screen and (max-width: 576px) {
        background: url(#{$image_path}/Arrow-white.png);
        background-size: contain;
      }
    }
  }

  &--first {
    @media screen and (min-width: 1025px) and (max-width: 1440px) and (max-height: 800px) { 
      width: 31px;
      right: 50px;
      left: auto;
    }
  }
}
.btn-down:hover {
  animation: scrollbottom .3s 4; 
}

.btn-top {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 31px;  
  z-index: 50;

  &__btn {
    display: block;
    width: 31px;
    height: 17px;
    background: url(#{$image_path}/Arrow-top.png);
  }
  @media screen and (max-width: 670px) {
    display: none;
  }
}
.btn-top:hover {
  animation: scrolltop .3s 4; 
}

@keyframes scrollbottom {
  0% {
    bottom: 30px
  }
  33% {
    bottom: 25px
  }
  66% {
    bottom: 35px
  }
  100% {
   bottom: 30px;
  }
}
@keyframes scrolltop {
  0% {
    top: 30px
  }
  33% {
    top: 25px
  }
  66% {
    top: 35px
  }
  100% {
   top: 30px;
  }
}