.container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 11;
  top: 120px;
  padding: 0 25px;  

  &__btns {
    max-width: 540px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 110px;

    &--center {
      justify-content: center;
    }
  }
}