* {	
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	outline: none;
}
main,
article,
section,
footer,
header,
aside,
canvas {
    display: block;
}
section,
header,
footer {
    position: relative;
}
html {
	height: 100%;
}
body {
	min-width: 320px;
	min-height: 100%;
	background-color: #ffffff;

  font-family: 'Open Sans', sans-serif;
	
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: 0em;	
	color: #000000;

	position: relative;

	@media screen and (max-width: 1280px) { position: relative; }
	@media screen and (max-width: 1024px) { position: relative; }
	@media screen and (max-width: 960px) { position: relative; }
	@media screen and (max-width: 670px) { position: relative; }	
	@media screen and (max-width: 576px) { position: relative; }

	@media screen and (min-width: 671px) and (max-width: 960px) { position: relative; }
	
}
.inner {
	position: relative;
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 25px;	
}
.inner:after {
    content: '';
    display: block;
    clear: both;
}
section:after {
	content: '';
  display: block;
  clear: both;
}
h1 {
	font-size: 60px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 25px;
	position: relative;
	z-index: 50;

	@media screen and (max-width: 670px) {
		font-size: 33px;
		margin-top: 20px;
	}
	@media screen and (max-width: 576px) {
		margin-top: 50px;
	}
}
h2 {
	font-size: 60px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 10px;

	@media screen and (max-width: 670px) {
		font-size: 33px;
		margin-bottom: 15px;
	}
}
h3 {
	font-size: 33px;
	text-align: center;
	font-weight: 300;

	@media screen and (max-width: 670px) {
		font-size: 18px;
	}
}
strong {
	font-weight: 400;
}
img {
	max-width: 100%;
}
/*****************/
.btn {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	min-width: 250px;
	min-height: 59px;
	align-items: center;
	justify-content: center;
	border: 1px solid #232428;
	border-radius: 28px;
	box-shadow: 0px 1px 5px 0px rgba(34, 31, 32, .75); 
	color: #000;
	text-decoration: none;
	line-height: 1;
	background: #ffffff;
	transition:  all 0.3s;
	&:hover {
		box-shadow: 0px 1px 8px 0px rgba(34, 31, 32, .75); 
	}

	&--actions {
		border-color: #c84455;
	}

	@media screen and (max-width: 670px) {
		margin-bottom: 15px;
		min-height: 46px;
		min-width: 210px;
		font-size: 13px;
		box-shadow: none;
	}
}
