.link-cars {
  position: fixed;
  left: 25px;
  z-index: 900;
  top: 30px;  
  font-size: 12px;
  font-weight: 400;  
  text-transform: uppercase;
  line-height: 24px;

  /*@media screen and (max-width: 670px) {
    top: 27px;
  }
  @media screen and (max-width: 576px) {
    left: 20px;
  }*/

  &__link {
    color: #000000;
    text-decoration: none;
    padding-left: 35px;
    transition:  all 0.5s;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      display: block;
      border: 3px solid #1b1c20;
      border-radius: 50%;
      box-sizing: border-box;
      background: url(../images/NavBtnCntr-active.svg) no-repeat center;
      background-size: 8px 8px;

      @media screen and (max-width: 576px) {
        width: 20px;
        height: 20px;
        background-size: 6px 6px;
        border-width: 2px;
      }
    }

    &:hover {
      opacity: 0.5;
    }

    @media screen and (max-width: 670px) {
      span {
        display: none;
      }
    }
  }

  @media screen and (max-width: 670px) {
    display: none;
  }

  
}
.link-cars--mob {
  display: none;

  @media screen and (max-width: 670px) {
    display: block;
    position: fixed;
    left: 20px;
    z-index: 900;
    top: 27px; 
    font-size: 12px;
    font-weight: 400;  
    text-transform: uppercase;
    line-height: 24px;
  }
}