.contactform__head{
  margin: 70px 0;
  @include fonts(100);
  font-size: $desktop_head;
  @include media-breakpoint-down(xs){
    font-size: $mobile_head;
    margin: 30px 0;
  }
}
.input__forSelect.base__form .select2-container{
  padding-left: 0;
}

.article-form__inner{
  input,textarea{
    background: #f7f7f7;
  }
}
.form__inner{
  padding-top: 10px;
}
@include media-breakpoint-down(xs){
  .services__form{
    border: #0d95e8;
    input::placeholder{
      text-align: center;
    }
    .input__forSelect .select2.select2-container{
      height: 50px;
      border-color: $gray_border;
    }
    .input__forSelect .select2-container--default .select2-selection--single{
      height: 50px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
      @include fonts(100);
      margin-left: 20px;
    }
    .input__forSelect .select2-container--default .select2-selection--single .select2-selection__arrow{
      display: none;
    }
  }
}
label{

  &.inline{
    display: inline-block;
    margin-bottom: 12px;
    @include media-breakpoint-down(xs){
      display: block;
      text-align: center;
    }
  }

}

